<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0A0A0A">
    <link rel="manifest" href="manifest.json">
    <%=htmlWebpackPlugin.files.webpackManifest%>
  </head>
  <noscript>
    <h1>"Hello! World"</h1>
    <h2>You will have a work:</h2>
    <ul>
      <li>Web Manifest for installing</li>
      <li>Service Worker for caching and offline</li>
      <li>Application Shell powered by <a href="https://material-ui.com">material-ui</a></li>
      <li>PRPL pattern by code splitting</li>
      <li>Opt in ES2015</li>
    </ul>
  </noscript>
  <body style="margin: 0; padding: 0;">
    <%= htmlWebpackPlugin.options.markup %>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('sw.js');
        });
      }
    </script>
  </body>
</html>
